<app-menu></app-menu>
<ng-container *ngIf="!isLoading">
    <div class="text-center">
        <form #editForm='ngForm' (ngSubmit)='validationEditForm()'>
            <!--Modele de l'article-->
            <label for="modele">Modele de l'ordinateur : </label>
            <input type="text" id="modele" name="modele" placeholder="modele de l'ordinateur" class="text-center mx-2"
            required [(ngModel)]='editComputerForm.modele' #modele='ngModel'> <br>
            <div [hidden]="modele.valid" class="alert alert-danger my-3">
                Le modele de l'ordinateur est requis!
            </div>
            <!--Marque de l'article-->
            <label for="marque">Choisir la marque de l'ordinateur : </label> <br>
            <div class="container-fluid m-0 p-0 text-center m-auto row">
                <ng-container *ngFor="let marque of marqueDisponible">
                <div class="col-md-3">
                    <input type="radio" id="marque-{{marque.name}}" name="marque" class=" sr-only text-center mx-2"
                        [value]='marque.name' required [(ngModel)]='editComputerForm.marque' #marque='ngModel'>
                        <label for="marque-{{marque.name}}">
                        <img src="../../../assets/img/imgMarquePc/{{marque.logo}}.png" alt="logo de la marque {{marque.name}}">
                        </label> <br>
                </div>
                </ng-container>
            </div>
            <div [hidden]="editForm.controls.marque?.valid" class="alert alert-danger my-3">
                Une marque pour l'ordinateur est requis!
            </div>
            <!--Type de l'article-->
            <label for="type">Choisir le type d'ordinateur : </label> <br>
            <select #type="ngModel" name="type"
                    [(ngModel)]="editComputerForm.type"
                    required>
                <option></option>
                <option *ngFor="let type of typeDisponible">
                    {{ type }}
                </option>
            </select> <br>
            <div [hidden]="type.valid" class="alert alert-danger">
                Le type de l'ordinateur est requis!
            </div>
            <!--Category de l'article-->
            <label for="category">Choisir la categorie de l'ordinateur : </label> <br>
            <div class="container-fluid m-0 p-0 text-center m-auto row">
                <ng-container *ngFor="let category of categoryDisponible">
                <div class="col-md-4">
                    <input type="radio" id="category-{{category}}" name="category" class=" sr-only text-center mx-2"
                        [value]='category' required [(ngModel)]='editComputerForm.category' #category='ngModel'>
                        <label for="category-{{category}}">
                            {{category}}
                        </label> <br>
                </div>
                </ng-container>
            </div>
            <div [hidden]="editForm.controls.category?.valid" class="alert alert-danger my-3">
                Une categorie pour l'ordinateur est requis!
            </div>
            <!--Prix d'achat de l'article-->
            <label for="prixAchat">Choisir le prix d'achat de l'ordinateur : </label> <br>
            <input type="number" name="prixAchat" id="prixAchat" class="text-center mx-2"
            required [(ngModel)]='editComputerForm.prixAchat' #prixAchat='ngModel'> <br>
            <div [hidden]="prixAchat.valid" class="alert alert-danger my-3" step="0.01">
                Le prix d'achat de l'ordinateur est requis!
            </div>
            <!--Prix de vente de l'article-->
            <label for="prixVente">Choisir le prix de vente de l'ordinateur : </label> <br>
            <input type="number" name="prixVente" id="prixVente" class="text-center mx-2"
            required [(ngModel)]='editComputerForm.prixVente' #prixVente='ngModel'> <br>
            <div [hidden]="prixVente.valid" class="alert alert-danger my-3" step="0.01">
                Le prix de vente de l'ordinateur est requis!
            </div>
            <!--Validation Form-->
            <input type="submit" value="Enregistrer" class="btn btn-lg btn-success w-100"
            [disabled]='!editForm.valid'>
        </form>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <fa-icon [spin]="true" [icon]="faSpinner"></fa-icon>
</ng-container>