label {
    cursor: pointer;
    filter: grayscale(100%);
  }

  label:hover {
    filter: grayscale(0);
  }

  input[type="radio"]:checked + label {
    filter: grayscale(0);
    border: 3px solid blue;
  }

  img {
    max-width: 100%;
    height: 150px;
  }