<app-menu></app-menu>
<h2 class="text-center">LISTE DES ORDINATEURS DISPONIBLE EN MAGAZIN</h2>
<ng-container *ngIf="!isLoading">
    <h3 class="text-center">Nombre d'ordinateur en stock : {{computers.length}}</h3>
    <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Modele</th>
            <th scope="col">Marque</th>
            <th scope="col">Type</th>
            <th scope="col">Categorie</th>
            <th scope="col">Prix d'achat</th>
            <th scope="col">Prix de vente</th>
            <th scope="col">Rentabilité</th>
            <th scope="col">Date d'entrée en stock</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let computer of computers">
                <td class="lineComputer">{{computer.id}}</td>
                <td>{{computer.modele}}</td>
                <td>{{computer.marque}}</td>
                <td>{{computer.type}}</td>
                <td>{{computer.category}}</td>
                <td>{{computer.prixAchat| number : '1.2-2'}} €</td>
                <td>{{computer.prixVente| number : '1.2-2'}} €</td>
                <td>{{computer.prixVente - computer.prixAchat| number : '1.2-2'}} €</td>
                <td>{{computer.dateEntreeStock|date: "d/MM/y"}}</td>
                <td><a [routerLink]='["/detailComputer", computer.id]'><fa-icon [icon]="faEye" class="fas text-light"></fa-icon></a></td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="isLoading">
    <fa-icon [spin]="true" [icon]="faSpinner"></fa-icon>
</ng-container>